@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .signin-button-container {
        display: flex;
        gap: theme('spacing.1');
        justify-content: center;
    }
}